.center
  - (1..Destination::PER_PAGE).each do |i|
    .destination
      .heading{id: "heading#{i}"}
      .map{id: "map#{i}"}
      .pano{id: "pano#{i}"}

:javascript
  $(function() {
    var destinations = '#{destinations}';
    $.each(JSON.parse(destinations), function(i, destination) {
      addDestiantion(i, destination)
    });
  });