/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  font-family: Arial, sans-serif;
}
.center {
  margin: 20px auto 0;
  width: 1070px;
}
.heading {
  font-size: 2em;
  margin-bottom: 10px;
}
.destination {
  overflow: hidden;
}
.map, .pano {
  display: inline-block;
  height: 300px;
  margin-bottom: 20px;
}
.map {
  width: 320px;
}
.pano {
  margin-left: 15px;
  width: 730px;
}
#pagination {
  margin-bottom: 20px;
  text-align: center;
}
#pagination a, #pagination em, #pagination span {
  display: inline-block;
  font-size: 2em;
  text-decoration: none;
  width: 30px;
}