.pagination {
  margin-bottom: 20px;
  text-align: center;
}
.pagination a, .pagination em, .pagination span {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  height: 24px;
  padding: 6px 3px 0;
  text-decoration: none;
}